
{% block navbar %}

	<nav class="navbar navbar-dark">
		<div class="container-fluid">
        <div class="navbar-brand">
		    <a class="navbar-item" href="{{'index'}}"><img src="/assets/images/disque-vinyle.png" alt="Logo"><h2>Where Is My Band</h2></a>
        </div>
			<button class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-link">
						<a class="nav-link" href="{{'listband'}}">Dashboard</a>
					</li>
					<li class="nav-link ">
						<a class="nav-link" aria-current="page" href="{{'createband'}}">Créer un groupe</a>
					</li>
					<li class="nav-link">
						<a class="nav-link" href="#">Messages</a>
					</li>

				</ul>
			</nav>
        </div>
		{% endblock %}
