{% extends 'layout.html.twig' %}

{% block content %}
	<h2>Qui sommes-nous ?</h2>

	<section class="aboutUs">


		<img src="https://images.pexels.com/photos/7626341/pexels-photo-7626341.jpeg" class="img-fluid float-start rounded" alt="guitar head">
		<div class="textAboutUs">
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis doloremque est amet architecto quod quis! Adipisci veniam tempora perspiciatis iste magni numquam nobis asperiores repudiandae, iure eligendi aspernatur laborum deleniti. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea amet repudiandae similique nam dolore in vel assumenda iste libero eaque! Dolores, impedit? Sit, placeat. Quae adipisci ad in incidunt itaque.
				<br>
				<br>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse consectetur illo dignissimos doloribus magnam optio alias cumque commodi quasi sint minus, provident soluta veritatis quidem reprehenderit corrupti dolores, iure sunt?
				<br>
				<br>
				<a href="/">
					<button type="button" class="btn btn-danger btn-lg">
						Cherchez votre groupe !</button>
				</a>
			</p>
		</div>
	</section>
{% endblock %}
