{% extends 'Layout/dashboard.html.twig' %}

{% block navbar %}
{% include "./Include/admin_navbar.html.twig" %}
{% endblock %}
{% block content %}
{# modifier include #}



	<div class="container">
		<h1>
			Créer un groupe
		</h1>
			<form action="" method="post">
				<div class="row mb-3">
					<div class="col-lg-6  mb-3">
						<div class="row">
							<div class="col-lg-6">
								<input type="text" class="form-control mb-3" placeholder="First name" aria-label="First name">
							</div>
							<div class="col-lg-6">
								<input type="text" class="form-control mb-3" placeholder="Last name" aria-label="Last name">
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6">
								<input type="text" class="form-control mb-3" placeholder="Région" aria-label="First name">
							</div>
							<div class="col-lg-6">
								<input type="text" class="form-control mb-3" placeholder="Email" aria-label="Last name">
							</div>
						</div>
						<textarea class="form-control"></textarea>
					</div>
					<div class="col-lg-6">
						<div class="picture">
							<div class="mb-3">
								<label for="formFile" class="form-label">Photo du groupe</label>
								<input class="form-control" type="file" id="formFile">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6 offset-3 col-lg-6 offset-lg-0">
						<button class="btn btn-primary w-100" type="button">Envoyez</button>
					</div>
				</div>
			</form>
		</div>
				<!-- <div class="coordonnees">
					<div class="row g-3">
						<div class="col">
							<input type="text" class="form-control" placeholder="First name" aria-label="First name">
						</div>
						<div class="col">
							<input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
						</div>
					</div>


					<div class="row g-3">
						<div class="col">
							<input type="text" class="form-control" placeholder="First name" aria-label="First name">
						</div>
						<div class="col">
							<input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
						</div>
					</div>

					<div class="mb-3">
						<label for="exampleFormControlTextarea1" class="form-label">Description</label>
						<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
					</div>
					<div class="d-grid gap-2 col-10 col-md-6 mx-auto">
						<button class="btn btn-primary" type="button">Envoyez</button>
					</div>
				</form>

			</div>
        <div class="picture">
			<div class="mb-3">
				<label for="formFile" class="form-label">Photo du groupe</label>
				<input class="form-control" type="file" id="formFile">
			</div>
        </div> -->


		{% endblock %}
