{% extends 'layout.html.twig' %}

{% block content %}
	<div class="bg-image-40vh"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="homeTitle col-lg-6 offset-lg-3 p-5 text-center">
				<h1 class="display-1">
					Where is my band?
				</h1>
					<a class=" btn btnHomeContact rounded shadow-lg" href="{{ 'contact' }}">Inscrivez votre groupe sur la plateforme</a>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="divImgIndex col align-self-center mt-5">
				<img class="imgIndex" src="/assets/images/microdrum.png" alt="">
			</div>
			<div class="col align-self-center mt-5">
				<h2>Musiciens, recherchez votre groupe</h2>
				<form class="fomrSearch mb-5" action="">
					<select class="selectSearch form-select p-3 mb-3" aria-label="instrument">
						<option class="optionSearch" selected>Instrument joué</option>
						<option class="optionSearch" value="1">One</option>
						<option class="optionSearch" value="2">Two</option>
						<option class="optionSearch" value="3">Three</option>
					</select>
					<select class="selectSearch form-select p-3 mb-3" aria-label="level">
						<option class="optionSearch" selected>Niveau</option>
						<option class="optionSearch" value="1">initié</option>
						<option class="optionSearch" value="2">débutant</option>
						<option class="optionSearch" value="3">semi-professionnel</option>
						<option class="optionSearch" value="4">professionnel</option>
					</select>
					<select class="selectSearch form-select p-3 mb-3" aria-label="style">
						<option class="optionSearch" selected>Style</option>
						<option class="optionSearch" value="1">One</option>
						<option class="optionSearch" value="2">Two</option>
						<option class="optionSearch" value="3">Three</option>
					</select>
					<select class="selectSearch form-select p-3 mb-3" aria-label="region">
						<option class="optionSearch" selected>Région</option>
						<option class="optionSearch" value="1">One</option>
						<option class="optionSearch" value="2">Two</option>
						<option class="optionSearch" value="3">Three</option>
					</select>
					<div class="d-flex justify-content-center">
							<a class=" btn btnFormIndex p-3 rounded" href="{{'results'}}">Let's go!</a>
					</div>
				</form>
			</div>

			<div class="divImgIndex col align-self-center mt-5">
				<img class="imgIndex" src="/assets/images/saxoviolon.png" alt="">
			</div>
		</div>
	</div>

{% endblock %}
