{% extends 'layout.html.twig' %}

{% block content %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="_mentions.css">
    <title>Mentions légales - Where Is My Band</title>
</head>

<body>
    <div class="section-container">
        <h2>Mentions Légales</h2>
        <p>L'objet de ce site est de mettre à la disposition du public des informations sur les activités de Where Is My Band, mais aussi de mettre à la disposition de ses adhérents d'autres informations plus ciblées et prises de position de Where Is My Band."</p>
        <br><br>
        <strong>Créateurs du site : </strong>
        <p>Mégo, Hugane, Marine, Jessica et Axel de la promo PHP de la <a class="wcs" href="https://www.wildcodeschool.com/fr-FR" target="_blank">Wild Code School</a> de septembre 2022.</p>
        <br><br>
        <strong>Propriété intellectuelle</strong>
        <br>
        <p>La structure générale du site, ainsi que les textes, sons, graphismes, documents téléchargeables, bases de données et tout autre élément composant le site sont la propriété exclusive de Where Is My Band. Les images statiques sont la propriété de <a class="freepik" href="https://fr.freepik.com/" target="_blank">Freepik</a></p>
        <br><br>
        <p>L'ensemble de ce site relève de la législation française et internationale sur les droits d'auteur et de la propriété intellectuelle. Les noms, marques et enseignes cités sur ce site sont la propriété de leurs déposants respectifs. Toute utilisation ou reproduction, totale ou partielle, du site, des éléments qui le composent et/ou des informations qui y figurent, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par le Code de la propriété intellectuelle.</p>
        <br><br>
        <p>Toutefois, les informations propres à ce site peuvent être utilisées par des tiers dans les conditions suivantes : toutes les informations diffusées directement sur le site par Where Is My Band, à l'exception de l'iconographie, des photos, vidéos, affiches, logos et marques, pourront être reproduites, représentées ou rediffusées par des tiers après une simple information préalable du webmestre, à condition d'en mentionner la source. Elles ne pourront toutefois être utilisées à des fins commerciales ni publicitaires. Where Is My Band se réserve la possibilité, à tout moment, sans préavis et sans avoir à motiver sa décision, d'interdire aux tiers concernés l'utilisation des informations telles que définies ci-avant. Dans ce cas, elle informera la personne concernée qui disposera de 8 jours ouvrés pour mettre fin à ses pratiques.</p>
        <br><br>
        <p>Where Is My Band et son logo sont des marques déposées et protégées à ce titre par le droit des marques. Elles sont la propriété exclusive de Where Is My Band Toutes les autres marques citées appartiennent à leurs propriétaires exclusifs.</p>
        <br><br>

        <strong>Liens hypertextes</strong>
        <br>
        <p>Where Is My Band autorise tout site Internet à établir un lien pointant vers l'adresse http://www.where-is-my-band.fr après une simple information préalable du webmestre. Tout lien de ce type interviendra toutefois sous réserve des dispositions légales en vigueur. Where Is My Band se réserve la possibilité, à tout moment, sans préavis et sans avoir à motiver sa décision, d'interdire ces liens. Dans ce cas il informera la personne concernée qui disposera de 2 jours ouvrés pour mettre fin au lien.</p>
        <br><br>

        <strong>Droit applicable</strong>
        <br>
        <p>Ces conditions d'utilisation sont régies, interprétées et appliquées conformément au droit français. En cas de litige, les tribunaux français seront seuls compétents.</p>
        <br><br>

        <strong>Dysfonctionnement et virus</strong>
        <br>
        <p>Le site http://www.where-is-my-band.fr est optimisé pour fonctionner sur les navigateurs FireFox, Safari et Chrome.</p>
        <br><br>
        <p>Where Is My Band ne pourra être tenu responsable des dommages directs ou indirects résultant de l'utilisation de ce site web, ou de l'impossibilité pour un tiers de l'utiliser, ou d'un mauvais fonctionnement, d'une interruption, d'un virus, résultant de l'accès ou de l'utilisation de ce site ou de tous sites qui lui sont liés.</p>
        <br><br>

        <strong>Sites liés</strong>
        <br>
        <p>Where Is My Band décline toute responsabilité concernant le contenu disponible sur les autres sites internet vers lesquels il a créé des liens ou qui auraient pu être créés à son insu. L'accès à tous les autres sites internet liés à ce site web se fait aux risques de l'utilisateur.</p>
        <br><br>
        <p>Where Is My Band décline aussi toute responsabilité pour toutes les informations contenues sur des sites tiers où figurent des liens renvoyant au site http://www.where-is-my-band.fr</p>
        <br><br>

        <strong>Informations nominatives</strong>
        <br>
        <p>Le site http://www.where-is-my-band.fr, tel qu'il a été initialement conçu, n'a pas pour vocation de collecter de données personnelles sur ses visiteurs. Il se peut toutefois qu'il soit amené à le faire de manière accessoire, notamment pour leur adresser une lettre d'informations, pour la réalisation d'études statistiques ou pour répondre à des questions directement posées à l'administrateur du site.</p>
        <br><br>
        <p>Dans ce cas, Where Is My Band s'engage à ne pas faire usage commercial des données et à ne les conserver que pendant une durée strictement liée à la finalité du traitement.</p>
        <br><br>
        <p>Les données collectées ne sont destinées qu'à l'usage propre de Where Is My Band et à celui de ses sous-traitants dans l'exercice de leurs missions (l'hébergeur du site notamment). Ainsi, tout sous-traitant amené, à cette occasion, à prendre connaissance de ces données sera soumis à une obligation de confidentialité. Il devra notamment s'interdire d'utiliser pour son propre compte ou encore de communiquer à des tiers tout ou partie de ces données personnelles.</p>
        <br><br>

        <strong>Droit d'accès et de rectification</strong>
        <br>
        <p>Dans ce site, les internautes peuvent être amenés à communiquer des données personnelles susceptibles de faire l'objet de traitements automatisés. Si tel est le cas, conformément à la loi 78-17 relative à l'informatique, aux fichiers et aux libertés du 6 janvier 1978 (article 34), les personnes à propos desquelles des données personnelles sont collectées bénéficient d'un droit d'accès, de modification, de rectification et de suppression de ces données. Ce droit peut être exercé en s'adressant au webmestre à l'adresse suivante :<br>bilbo_saquet@wild-code-school.com</p>
        <br><br>
        <p>Par ailleurs, lorsque des données présentes sur ce site ont un caractère nominatif, les utilisateurs doivent en faire un usage conforme aux réglementations en vigueur et aux recommandations de la CNIL.</p>
    </div>
</body>

</html>

{% endblock %}
