{% extends 'layout.html.twig' %}

{% block content %}

	<h2>Merci
		{# {{ $_POST['firstname'] }} #}
		de nous avoir contacté !</h2>
	<h5 class="text-center">Nous vous répondrons dès que possible ♪</h5>

	<p class="text-center fst-italic mt-4">Musicalement vôtre,
		<br>L'équipe de Where Is My Band?</p>
	<img src="/assets/images/vinyle-demi-decoupe.png" class="w-25 d-block mx-auto" alt="image">

{% endblock %}
