{% extends 'layout.html.twig' %}

{% block content %}

	<h2>Merci
		{# {{ $_POST['firstname'] }} #}
		de nous avoir contacté !</h2>
	<h5 class="text-center">Nous vous répondrons dès que possible ♪</h5>

	<p class="text-center fst-italic mt-4">Musicalement vôtre,
		<br>L'équipe de Where Is My Band?</p>
	<img src="https://images.pexels.com/photos/167092/pexels-photo-167092.jpeg?cs=srgb&dl=pexels-miguel-%C3%A1-padri%C3%B1%C3%A1n-167092.jpg&fm=jpg&_gl=1*1ghiwe4*_ga*MTQwOTMwMjk4NS4xNjY0Mzc1ODUw*_ga_8JE65Q40S6*MTY2Njg5Mjc2OC41LjEuMTY2Njg5MjgzMi4wLjAuMA.." class="w-25 d-block mx-auto" alt="image">

{% endblock %}
