{% extends 'layout.html.twig' %}

{% block content %}

	<div class="pageResults">

		<div class="formAndimage">
			{% include "Include/_filterform.html.twig" %}
			<img class="imgSearch w-75 mt-5" src="/assets/images/micro3d.png" alt="">
		</div>


		<div class="results">


			{% for i in 0..6 %}

				<div class="card" style="width: 18rem;">

					<img src="https://fakeimg.pl/350x200/?text=Image" class="card-img-top" alt="...">


					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">An item</li>
							<li class="list-group-item">A second item</li>
							<li class="list-group-item">A third item</li>
						</ul>
						<a href="/contactband" class="btnCardSearch btn p-2 rounded">Contactez le groupe !</a>

					</div>
				</div>
			{% endfor %}
		</div>
	</div>

</div>{% endblock %}
