.aboutUs {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

/* Changement de disposition sur version desktop */
@media screen and (min-width: 700px) {
    .aboutUs {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .textAboutUs {
        max-width: 40rem;
        margin: 6rem;
    }
}

.aboutUs img {
    max-width: 20vh;
    min-width: 24%;
}

@media screen and (min-width: 700px) {
    .aboutUs img {
        margin-right: 1.5rem;
    }
}

.ab_button {
    text-align: center;
}

.aboutUs button {
    box-shadow: black 5px 5px 10px;
    display: inline-block;
}

.silouhette {
    justify-content: center;
    max-width: 20vh;
    min-width: 24%;
}