.footer {
    color: var(--color-lightgray);
    background-color: var(--background-color-eerieblack);
    text-align: center;
    padding: 0.5rem;
    margin-top: auto;
}

.footer a {
    color: var(--color-carnelian);
    text-decoration: none;
}

.btn-footer {
    margin-left: 2rem;
    font-size: 1.5rem;
}