h2 {
    text-align: center;
    color: var(--color-rubyred);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

html,
body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}