.section-container {
    max-width: 1200px;
    padding: 20px 30px;
    position: relative;
    margin: 0 auto;
}

.section-container h2 {
    text-transform: uppercase;
    margin: 0px;
}

.section-container p2 a {
    color: #f76c6c;
    text-decoration: none;
}

.section-container p3 a {
    color: #145DC1;
    text-decoration: none;
}
