.navbar {
    background-color: var(--background-color-eerieblack);
    max-height: 4rem;
}
.nav-link {
    color: var(--color-lightgray);
}
.nav-link:hover {
    color: var(--color-rubyred);
}
.nav-link:focus {
    color: var(--color-rubyred);
}
.collapse {
    display: flex;
    justify-content: flex-end;
    margin-right: 12vw;
}
.navbar-item img {
    margin-left: 12vw;
    max-height: 3.7rem;

}
.navbar-brand {
    padding: 0%;
}

.navbar-brand a {
    text-decoration: none;
    display: inline-flex;
    margin-top: 0.5rem;
}
.navbar-brand h2 {
    margin-top: 0.5rem;
    margin-left: 1rem;
    color: var(--color-lightgray);
}
@media screen and (max-width: 992px) {
    .navbar-brand a {
        text-decoration: none;
        display: inline-flex;
        margin-top: 0.1rem;
    }
    .navbar {
        padding: 0%;
    }
    .navbar-item {
        margin-top: 0px;
    }
}
@media screen and (max-width: 431px) {
    .navbar-item img {
        margin-left: 0rem;
    }
    .navbar-brand {
        max-width: 5rem;
    }
}
