.pageResults {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem;
    align-items: start;
}
.card-img-top {
    height: 250px;
    object-fit: cover;
    object-position: top;
}

.results {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    align-items: start;
}

.card-body {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.btnCardSearch {
    background-color: var(--background-color-eerieblack);
    color: var(--color-lightgray);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btnCardSearch:hover {
    border: none;
    background-color: var(--background-color-bloodred);
    color: var(--color-cultured);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 660px) {
    .imgSearch {
            display: none;
        }
}

@media (min-width: 660px) {

    .pageResults {
        display: grid;
        grid-template-columns: 20rem 2fr;
        margin: 2rem;
    }

    .results {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width: 960px) {

    .pageResults {
        display: grid;
        grid-template-columns: 20rem 2fr;
        margin: 2rem;
    }

    .results {
        grid-template-columns: repeat(2, 1fr);
     }
}

@media (min-width: 1230px) {

.pageResults {
    display: grid;
    grid-template-columns: 19rem 4fr;
    margin: 2rem;
}

.results {
    grid-template-columns: repeat(3, 1fr);
    }
}
