.btn {
    background-color:var(--background-color-rubyred);
    border-color: var(--background-color-rubyred);
}

.navbar, .container-fluid {
    background-color: var(--background-color-eerieblack);

 }

 .nav-link {
    color: var(--color-lightgray);
 }

 .nav-link:hover {
    color:var(--background-color-rubyred);
 }

 .collapse {
    color: var(--color-lightgray);

 }


 h1 {
    margin-top: 2rem;
 }
