<form class="fomrSearch mb-5" action="">
	<select class="selectSearch form-select p-3 mb-3" aria-label="instrument">
		<option class="optionSearch" selected>Instrument joué</option>
		<option class="optionSearch" value="1">One</option>
		<option class="optionSearch" value="2">Two</option>
		<option class="optionSearch" value="3">Three</option>
	</select>
	<select class="selectSearch form-select p-3 mb-3" aria-label="level">
		<option class="optionSearch" selected>Niveau</option>
		<option class="optionSearch" value="1">initié</option>
		<option class="optionSearch" value="2">débutant</option>
		<option class="optionSearch" value="3">semi-professionnel</option>
		<option class="optionSearch" value="4">professionnel</option>

	</select>
	<select class="selectSearch form-select p-3 mb-3" aria-label="style">
		<option class="optionSearch" selected>Style</option>
		<option class="optionSearch" value="1">One</option>
		<option class="optionSearch" value="2">Two</option>
		<option class="optionSearch" value="3">Three</option>
	</select>
	<select class="selectSearch form-select p-3 mb-3" aria-label="region">
		<option class="optionSearch" selected>Région</option>
		<option class="optionSearch" value="1">One</option>
		<option class="optionSearch" value="2">Two</option>
		<option class="optionSearch" value="3">Three</option>
	</select>
	<div class="d-flex justify-content-center">
		<a class="btn btnFilterForm p-3 rounded" href="{{'results'}}">Let's go!</a>
	</div>
</form>
