{% extends "layout.html.twig" %}

{% block body %}
	<div class="dashboard-wrapper">
        {% include "Include/admin_navbar.html.twig" %}
        <main>
		    {% block content %}{% endblock %}
        </main>
	</div>
{% endblock %}
