{% extends "layout.html.twig" %}

 {% block navbar %}{% include "Admin/admin_navbar.html.twig" %}{% endblock %}
{% block body %}
        <main>
		    {% block content %}{% endblock %}
        </main>
{% endblock %}
